*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.inner-wrapper{
    width: 1170px;
    margin: auto;
}
img{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
nav img{
    width: 100px;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 4px;
    cursor: pointer;
    padding: 5px 20px;
}
span{
    color: #FF0000;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #FF0000;
    transition: .4s;
}
.main-content{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
}
.main-content h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}
.main-content p{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 500px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size; 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.skills{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    display:inline-block;
    padding: 10px 25px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 20% 30%;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card h5{
    font-size: 23px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    color: #ff5757;
}
.pra p{
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.about-the-work{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.about-the-work h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.about-the-work p{
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    text-align: center;
}

h3 {
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
}
footer{
    position: relative;
    width: 100%;
    height: 200px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p{
    color: white;
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.hero {
    text-align: center;
    background: #000;
    min-height: 5em;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;


}
main {
    margin-bottom: 2em;
}

/*-----About the Artist page-----*/