<!DOCTYPE html>
<html lang="en">

<head>

    <!-- load the head content from the head.html file -->
    <!-- This content is inserted into the base.html file -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- load our reset stylesheet -->
<link rel="stylesheet" href="assets/css/reset.css">
<!-- load our main stylesheet -->
<link rel="stylesheet" href="assets/css/styles.css">

<!-- you could add favicons etc here -->

    <!-- set the site title to be a variable, defined in the md file -->
    <title>11056 Project 2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,500&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="hero">
            <nav> 
                <h2 class="logo">11056 Proj<span>ect 2</span></h2>
             <ul>
        <li><a href="homepage.html">Home</a></li>
        <li><a href="aboutartist.html">About Artist</a></li>
        <li><a href="skills.html">Skills</a></li>
         <li><a href="aboutwork.html">About Work</a></li>
        <a href="homepage.html"></a>
        <a href="skills.html"></a>
         <a href="aboutartist.html"></a>
        </ul>
            </nav>
        </div>

    </header>
    <main>
        <div class="inner-wrapper">
             <img src="assets/images/background0.jpeg">
            <!-- STOP! Don't add anything more to the base template -->
            <!-- the content here is loaded through the homepage template -->
            

<div class="main-content">
    <h1>Louise Weaver</h1>
    <p>Australian Artist working in Media.</p>

</div>
            
        </div>
    </main>
    
    <!------About the Work---->
    
    <div class="about-the-work">
    <h2>About the Work</h2>
    <p>Her work plays with these concepts and extends them into ideas surrounding artificiality, transformation, social themes and feminism,<br> underpinned by the enduring power of mythology, make-believe and memory.</p>
    </div>